<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script> <!-- d3.js 서버에서 호출-->
    <script src="js/manual.js"></script>
    <style>
        div.Rleft {
            width: 20%;
            float: left;
            box-sizing: border-box;
            
           <!-- background: #ff0; -->
        }
        div.Rright {
            width: 80%;
            float: right;
            box-sizing: border-box;
            
            <!-- background: #0ff; -->
        }
        </style>

  </head>
  <body>
    <header>
        <%- include('./header') %>
    </header>
	<main>
        <div class="Rleft">
            <b>NOSHOW</b>
            <br><br>
            <b>NORMAL</b>
            <br><br>
            <b>TURTLE</b>
            <br><br>
            <b>CHIN</b>
        </div>
        <div class="Rright">
<!--
            <button type="button" class="btn btn-primary"  onclick="graphD()">그래프 그리기</button>
-->            
            <svg id="myGraph" width="500" height="500">
            </svg>


            <script type="text/javascript">
                graphD()
             //   dataSet = [10,200,90,190,240];

             //   setInterval(alert("어럴트"), 5000)
             //   console.log(dataSet)
             
            </script>
        </div>
    </main>
  </body>
</html>